.splide__list{display:block;height:30rem}@media (min-width: 1080px){.also{float:left;display:inline-block;width:49%}}.also p{padding-left:10px;text-align:center}.group::after{content:"";display:table;clear:both}